{% extends "base.html" %}
{% block content %}

	<p class="text-center well"> WOW! My profile is awesome!! </p>
	<div class="well">
		<p class="text-center"> Let's look at this competition: 
			<button class="btn btn-primary" type="button"><a href="competition_home">Funtime Challenge</a></button>
		</p>
		
	</div>
	<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 well">
      <!--Sidebar content-->
      <p> Is this where it should be?</p>
    </div>
    <div class="span6 well">
      <!--Body content-->
      <p> How about this? </p>
    </div>
  </div>
</div>

{% endblock %}